<!DOCTYPE html>

{% extends 'base/base.html' %}

    {% block body_block %}

    
      {% for pos in all_post %}
             
        <p></p>
        <div class="jumbotron bg-dark text-light">
          <h1 class="display-4">{{ pos.title }}</h1>
          <p>{{ pos.date }}</p>
          <p class="lead"></p>
          <img class="card-img-top" src="\static\images\post\{{ pos.img_name }}" alt="image not found">
          <hr class="my-4">
          <p>{{ pos.text }}</p>
          <a class="btn btn-primary btn-lg" href="{{ pos.count }}" role="button">See more</a>
        </div>
  
      {% endfor %}

    {% endblock %}