<!DOCTYPE html>

{% extends 'base/base.html' %}

    {% block body_block %}

    
      {% for pos in test_post %}
      
            
        <p></p>
          <div class="jumbotron col-md-12 bg-dark text-light">
            <h1 class="display-4">{{ pos.title }}</h1>
            <p>{{ pos.date }}</p>
            <p class="lead">{{ pos.text }}</p>
            <img class="card-img-top" src="/static/images/post/{{ pos.img_name }}" alt="image not found">
            <hr class="my-4">
            <p></p>
            <a class="btn btn-primary btn-lg" href="{{pos.count}}" role="button">Learn More</a>
          </div>


      {% endfor %}

    {% endblock %}