<html>
{% load static %}
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'fullpost/dayendsale/css/dayendsale.css' %}">
        <link rel="stylesheet" href="{% static 'fullpost/dayendsale/css/bootstrap.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 id="title">Day End Sale Application</h1>
                  <br>
                  <h4>THIS IS A MY FIRST APPLICATION</h4>
                  <br>
                  <img class="card-img-top" src="{% static 'fullpost/dayendsale/images/pythondaysale.jpg' %}">
                  <br><br>
                  <p>This Application use for the Find a Day End sales in Stores. 
                      This is Create by Using Python Programming Language and Tkinter library. 
                      Tkinter (pronounced tea-kay-inter) is the Python interface to Tk, the GUI toolkit for Tcl/Tk. Tkinter, the built-in graphical user interface (GUI) library for all standard Python distributions.
                      Click the See More and look at the code.
                  </p>
                  <ul>
                      <li>Core Programming language - Python </li>
                      <li>Use Moduls - Tkinter </li>
                  </ul>
                  <a class="btn btn-danger btn-md" href="#" role="button">See the Code</a>
                  <a class="btn btn-primary btn-md " href="{% url 'post:index' %}" role="button" style="float:right;">Back To Home</a>
                </div>
              </div>
        </div>
    </body>
</html>